.book-image {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
element.style{

}
.books-list-item-name{
  //display: -webkit-box;
  //max-width: 400px;
  //height: 109.2px;
  //-webkit-line-clamp: 3;
  //-webkit-box-orient: vertical;
  //line-height: 1.625;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: black;
  white-space: nowrap;
  font-weight: bolder;
  font-family: Calibri, serif;
  font-size: 20px;
  box-shadow: none;
}
.book-container:not([class*=mat-elevation-z0]):hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.book-container:not([class*=mat-elevation-z0]){
  box-shadow: none;
  width: 220px;
  background: none;
}
.books-list-item-price{
  font-family: "Arial Black";
  color: black;
  font-size: 15px;
  text-align: center;
}
