.example-container{
  background: none;
  min-height: 500px;
}
.side-options-container{
  position:fixed;
  top: 130px;
  background: none;
  height: 100%;
}
.sidenav-button{
  border: none;
  height: 50px;
  text-align: left;
  vertical-align: middle;
}

