.edit-button{
  margin-left: 0px;
}
.address-radio-selector{
  margin-left: 20px;
  alignment-baseline: center;
}
img{
  height: 20px;
}
.button-primary{
  background-color: white;
  border: 2px solid gray;
  font-family: DialogInput;
  font-weight: bolder;
}
.stepper-list-title{
  font-size: large;
  font-weight: bold;
  font-family: Arial;
}
.radio-selector-description{
  margin-left: 10px;
  font-family: "Comic Sans MS";
}

