.paginator{
  background: none;
  font-weight: bolder;
  font-size: 15px;
  font-family: "Nirmala UI";
}
.div-container{
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
}
.example-container{
  background: none;
}
.side-options-container{
  background: none;
  height: 100%;
}
