<button *ngIf="auth.user?.role==='ROLE_ADMIN'" mat-button color="primary" [routerLink]="['/admin/manageAuthor',author.name]">Edit Author</button>
<div class="container-fluid">
  <div class="row">
    <div class="column image-name-container">
          <img [src]="author.image" alt="" class="author-image">
          <h1 class="author-name">{{author.name}}</h1>
      <mat-divider></mat-divider>
      <h2>About {{author.name}}</h2>
      <p class="description">{{author.description}}</p>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="column">
      <div class="div-container">
        <app-book-overview *ngFor="let b of (this.bs.books|bookFilter:filter|slice: lowValue : highValue)" [book]="b"></app-book-overview>
      </div>
      <div>
        <mat-paginator class="paginator" [length]="(bs.books|bookFilter:filter).length"
                       [pageSize]="4"
                       (page)="getPaginatorData($event)"
                       [pageSizeOptions]="[1, 4]"
                       showFirstLastButtons="false">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
